.products {
  display: flex;
  flex-wrap: wrap;
}
.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
}

body {
  background-color: #f2dcfa;
}

.cont {
  display: flex;
  justify-content: center;
}

.back {
  background-color: #f4eddd; 
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.change {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

h2, h3, h4, p {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 25px;
}

button {
  margin: 10px;
}

nav {
  background: #313131;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.link {
  padding: 10px 40px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.container {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.imgShop {
  padding: 60px;
  width: 700px;
}

.header {
  display: flex;
  justify-content: center;
  flex-basis: auto;
  flex-flow: row wrap;
  padding: 40px;
  width: 90%;
  font-size: 25px;
}

h1 {
  padding: 20px;
  font-size: 40px;
}

.description {
  align-items: center;
  width: 60%;
}

.sale {
  padding: 50px;
}

h4 {
  font-size: 25px;

}

.btnBack {
  background-color: #300035;
  color: white;
  padding: 20px;
  width: 200px;
  font-size: 20px;
}

.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px;
  font-size: 30px;
}

.contact {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 25px;
}

.showMore {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 25px;
  border: none;
  background-color: #f6c8fb;
}